.new_image_add {
    margin-bottom: 50px;
    border: 2px dashed red;
}

.new_img_btn { 
    border: 2px solid blue;
    padding: 1% 3%;
    width: 150px;
}

.new_img_btn_done {
      border: 2px solid red;
    padding: 1% 3%;
    width: 150px;
}