$crvena : 1px solid red;
$crvena2 : 2px solid red;

$plava : 1px solid blue;
$plava2 : 2px solid blue;

$crna: 1px solid black;
$crna2: 2px solid black;

$zuta: 1px solid yellow;
$zuta2: 2px solid yellow;

$zelena : 1px solid green;
$zelena2 : 2px solid green;
